Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|apps|tests)/.*'
FormatStyle: file
